body {
  font-family: Arial;
  padding: 20px;
  background: #f5f5f5;
}

h2, h3 {
  text-align: center;
}

.card {
  background: #fff;
  padding: 15px;
  margin: 10px 0;
  border-radius: 8px;
}

input, button {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
}

button {
  background: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
}